$color-primary-purple-50: hsl(260, 100%, 95%);
$color-primary-purple-300: hsl(264, 82%, 80%);
$color-primary-purple-500: hsl(263, 55%, 52%);

$color-nautral-white: hsl(0, 0%, 100%);
$color-nautral-grey-100: hsl(214, 17%, 92%);
$color-nautral-grey-200: hsl(0, 0%, 81%);
$color-nautral-grey-400: hsl(224, 10%, 45%);
$color-nautral-grey-500: hsl(217, 19%, 35%);
$color-nautral-dark-blue: hsl(219, 29%, 14%);
$color-nautral-black: hsl(0, 0%, 7%);
$font-size: 13px;

$spacing-650: 52px;
$spacing-600: 48px;
$spacing-550: 44px;
$spacing-500: 40px;
$spacing-450: 36px;
$spacing-400: 32px;
$spacing-350: 28px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;

.text-preset-1 {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}
.text-preset-1-small {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}
.text-preset-2 {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-nautral-grey-100;
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
  }
}

main {
  display: grid;
  gap: $spacing-400;
  padding: $spacing-350;
  @media (min-width: 1440px) {
    width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    section {
      z-index: 1;
      position: relative;
      img.pattern {
        display: block !important;
        width: 115px;
        position: absolute;
        rotate: -2deg;
        top: 0px; // ❗ Tambahkan satuan
        left: 350px; //
        z-index: -1;
      }
    }
    .card-purple {
      grid-area: 1 / 1 /2 /3;
    }
    .card-grey {
      grid-area: 1 / 3 /2 /4;
    }
    .card-white-2 {
      grid-area: 1 / 4 /3 /5;
    }
    .card-white-1 {
      grid-area: 2 / 1 /3 /2;
    }
    .card-black {
      grid-area: 2 / 2 / 3/ 4;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    padding: $spacing-500;
    background-color: $color-nautral-grey-400;
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 28px 0px rgba(66, 68, 90, 0.1);
    -moz-box-shadow: 20px 20px 28px 0px rgba(66, 68, 90, 0.1);
    box-shadow: 20px 20px 28px 0px rgba(66, 68, 90, 0.1);
    img.pattern {
      display: none;
    }
    article {
      display: flex;
      flex-direction: column;
      gap: $spacing-200;
      figure {
        display: flex;
        gap: $spacing-200;
        align-items: center;
        figcaption {
          display: flex;
          flex-direction: column;
          gap: 2px;
        }
        img {
          border-radius: 999px;
          width: 40px;
          border: 4px solid black;
        }
      }
    }
  }
  .card-purple {
    background-color: $color-primary-purple-500;
    color: $color-nautral-grey-100;
    article {
      figure {
        img {
          border: 2px solid $color-primary-purple-300;
        }
        figcaption {
          h3 {
            color: $color-nautral-grey-200;
          }
          p {
            color: $color-nautral-grey-200;
          }
        }
      }
      p {
        color: $color-nautral-grey-200;
      }
    }
  }
  .card-grey {
    background-color: $color-nautral-grey-500;
    color: $color-nautral-white;
    article {
      figure {
        img {
          border: 2px solid $color-nautral-grey-500;
        }
        figcaption {
          h3 {
            color: $color-nautral-grey-100;
          }
          p {
            color: $color-nautral-grey-200;
          }
        }
      }
      p {
        color: $color-nautral-grey-200;
      }
    }
  }
  .card-white-1 {
    background-color: $color-nautral-white;
    color: $color-nautral-grey-500;
    article {
      figure {
        img {
          border: 2px solid $color-nautral-white;
        }
        figcaption {
          h3 {
            color: $color-nautral-grey-500;
          }
          p {
            color: $color-nautral-grey-500;
          }
        }
      }
      p {
        color: $color-nautral-grey-500;
      }
    }
  }
  .card-black {
    background-color: $color-nautral-dark-blue;
    color: $color-nautral-grey-200;
    article {
      figure {
        img {
          border: 2px solid $color-primary-purple-500;
        }
        figcaption {
          h3 {
            color: $color-nautral-grey-100;
          }
          p {
            color: $color-nautral-grey-100;
          }
        }
      }
      p {
        color: $color-nautral-white;
      }
    }
  }
  .card-white-2 {
    background-color: $color-nautral-white;
    color: $color-nautral-grey-500;
    article {
      figure {
        img {
          border: 2px solid $color-nautral-white;
        }
        figcaption {
          h3 {
            color: $color-nautral-grey-500;
          }
          p {
            color: $color-nautral-grey-500;
          }
        }
      }
      p {
        color: $color-nautral-grey-500;
      }
    }
  }
}
